# Bedrock chat agent harness
bedrock.chat.agent.harnessArn=
bedrock.chat.agent.harnessEndpoint=DEFAULT

# Bedrock 'map it' agent harness
bedrock.sparql.agent.harnessArn=
bedrock.sparql.agent.harnessEndpoint=DEFAULT

# URL of the JENA instance and dataset
sparql.url=http://example.com/jena:3030/inundation/

mapbox.key=

data.usecase=spn

# OpenSearch
#explorer.search=opensearch
#opensearch.host=search-usace-test-example.aos.us-west-2.on.aws
#opensearch.scheme=https
#opensearch.port=443
#opensearch.index=geo_objects
#opensearch.iam=true

# Jena search
explorer.search=jena

spring.security.user.name=example
spring.security.user.password=example

management.endpoints.web.exposure.include=health,info

# Disable authentication (Don't deploy this)
spring.profiles.active=dev

# AWS access key and secret key for IAM user which can execute bedrock methods
aws.accessKeyId=
aws.secretAccessKey=
aws.region=us-west-2
